<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--

TaBuLeTa - A test-based feature location plug-in for Eclipse
Copyright (C) 2012  Federal University of Minas Gerais (http://www.ufmg.br/~alcemir)
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

-->

<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="TaBuLeTa"
            id="br.ufmg.dcc.tabuleta">
      </category>
      <view
            name="Test2Feature Mapping"
            icon="icons/sample.gif"
            category="br.ufmg.dcc.tabuleta"
            class="br.ufmg.dcc.tabuleta.views.T2FMappingView"
            id="br.ufmg.dcc.tabuleta.views.MapView">
      </view>
      <view
            category="br.ufmg.dcc.tabuleta"
            class="br.ufmg.dcc.tabuleta.views.MetricsView"
            icon="icons/sample.gif"
            id="br.ufmg.dcc.tabuleta.views.MetricsView"
            name="Metrics"
            restorable="true">
      </view>
      <view
            category="br.ufmg.dcc.tabuleta"
            icon="icons/sample.gif"
            class="br.ufmg.dcc.tabuleta.views.SunburstView"
            id="br.ufmg.dcc.tabuleta.sunburst.view"
            name="Sunburst View"
            restorable="true">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.7"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               relationship="bottom"
               id="br.ufmg.dcc.tabuleta.views.MapView">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.cm"
            id="br.ufmg.dcc.tabuleta.cm.popup">
         <action
               enablesFor="1"
               label="Load Concern Model"
               class="br.ufmg.dcc.tabuleta.actions.LoadConcernModelAction"
               menubarPath="group.cm"
               id="br.ufmg.dcc.tabuleta.actions.LoadConcernModelAction"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="br.ufmg.dcc.tabuleta.addToFeatureObjectContribution"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <action
               class="br.ufmg.dcc.tabuleta.actions.AddToConcernAction"
               icon="icons/sample.gif"
               id="br.ufmg.dcc.tabuleta.addToFeatureAction"
               label="Add to Feature"
               style="pulldown">
         </action>
      </objectContribution>
      
      <viewerContribution
            id="br.ufmg.dcc.tabuleta.addToFeatureEditorContribution"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext">
         <action
               class="br.ufmg.dcc.tabuleta.actions.AddToConcernAction"
               id="br.ufmg.dcc.tabuleta.addToFeatureEditorAction"
               label="Add to Feature"
               menubarPath="additions"
               style="pulldown"/>
      </viewerContribution>
      <objectContribution
            adaptable="true"
            id="br.ufmg.dcc.tabuleta.doIntersection"
            nameFilter="*.cm"
            objectClass="org.eclipse.core.resources.IResource">
            <menu 
            		label = "TaBuLeTa"
            		path = "additions"
            		id = "br.ufmg.dcc.tabuleta.tabuleta.additions.menu">
            	<groupMarker
                   name="content">
            	</groupMarker>
            	<separator
                   name="additions">
            	</separator>
            </menu>
            <action
                  id="br.ufmg.dcc.tabuleta.doIntersection"
                  label="Do Intersection"
                  icon="icons/sample.gif"
                  tooltip="Do intersection between .cm files."
                  menubarPath="br.ufmg.dcc.tabuleta.tabuleta.additions.menu/content"
                  enablesFor="2+"
                  class="br.ufmg.dcc.tabuleta.actions.DoIntersectionAction">
            </action>
            <action
                  id="br.ufmg.dcc.tabuleta.calculateMetrics"
                  label="Calculate Metrics"
                  icon="icons/sample.gif"
                  tooltip="Calculate metrics from .cm files."
                  menubarPath="br.ufmg.dcc.tabuleta.tabuleta.additions.menu/content"
                  enablesFor="2"
                  class="br.ufmg.dcc.tabuleta.actions.CalculateMetricsAction">
            </action>
            <action
                  id="br.ufmg.dcc.tabuleta.sendToFeatureSunburstView"
                  label="Send to Feature SunburstView"
                  icon="icons/sample.gif"
                  tooltip="iniciate a visualization based on this .cm file."
                  menubarPath="br.ufmg.dcc.tabuleta.tabuleta.additions.menu/content"
                  enablesFor="1"
                  class="br.ufmg.dcc.tabuleta.actions.SendToSunburstViewAction">
            </action>
      </objectContribution>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
         	id="br.ufmg.dcc.tabuleta.decorator"
         	label="Concern Mapper Decorator"
         	class="br.ufmg.dcc.tabuleta.decorators.LightWeightDecorator"
         	adaptable="false"
         	state="true"
         	lightweight="true"
         	location="BOTTOM_RIGHT">
         <description>
         	ConcernMapper decorator displays elements belonging to the concern model in bold and adds the name of the concerns it belongs to as a suffix. Parents of concern elements can also be decorated (see the Preferences Page).
         </description>
         <enablement>
         	<objectClass name="java.lang.Object"/>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="TaBuLeTa"
            class="br.ufmg.dcc.tabuleta.ui.TabuletaPreferencePage"
            id="br.ufmg.dcc.tabuleta.TabuletaPreferencePage">
      </page>
      <page
            name="ConcernMapper"
            class="br.ufmg.dcc.tabuleta.ui.ConcernMapperPreferencePage"
            id="br.ufmg.dcc.tabuleta.ConcernMapperPreferencePage"
            category="br.ufmg.dcc.tabuleta.TabuletaPreferencePage">
      </page>
   </extension>
   <extension 
   		point="org.eclipse.core.runtime.preferences">
	  <initializer 
	  	class="br.ufmg.dcc.tabuleta.ConcernMapperPreferenceInitializer"/>
   </extension>
   <!--  -->
</plugin>
