<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Test2Feature Mapper"
            id="br.ufmg.dcc.t2fm">
      </category>
      <view
            name="Map View"
            icon="icons/sample.gif"
            category="br.ufmg.dcc.t2fm"
            class="br.ufmg.dcc.t2fm.views.MapView"
            id="br.ufmg.dcc.t2fm.views.MapView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="br.ufmg.dcc.t2fm.views.MapView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.cm"
            id="br.ufmg.dcc.t2fm.cm.popup">
         <action
               enablesFor="1"
               label="Load Features"
               class="br.ufmg.dcc.t2fm.actions.LoadConcernModelAction"
               menubarPath="group.cm"
               id="br.ufmg.dcc.t2fm.actions.LoadConcernModelAction"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="br.ufmg.dcc.t2fm.addToFeatureObjectContribution"
            objectClass="br.ufmg.dcc.t2fm.actions.AddToConcernAction">
         <action
               class="br.ufmg.dcc.t2fm.actions.AddToConcernAction"
               id="br.ufmg.dcc.t2fm.addToFeatureAction"
               label="Add to Feature"
               style="pulldown">
         </action>
      </objectContribution>
      <viewerContribution
            id="br.ufmg.dcc.t2fm.addToConcernEditorContribution"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext">
         <action
               class="br.ufmg.dcc.t2fm.actions.AddToConcernAction"
               id="br.ufmg.dcc.t2fm.addToConcernEditorAction"
               label="Add to Feature"
               menubarPath="additions"
               style="pulldown"/>
      </viewerContribution>
   </extension>

</plugin>
